/* ВАЖНО - В данном файле все классы должны быть с припиской _custom */

.two_img_custom {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.two_img_1_custom {
    width: 50%;
}

.two_img_2_custom {
    width: 50%;
}


.two_img_custom img {
    max-width: 550px;
}

#content > div:nth-child(4) > div > img {
    width: 80%;
}

.four_img_custom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:space-between
}

.two_img_custom  div {
    padding: 10px;
}


#content > div:nth-child(7) > div > img {
    min-width: 150px;
}

.math_equation_custom {
    font-size: 30px;
}

@media (max-width: 720px){
    .two_img_custom{
        flex-direction: column;
    }

    #content > div:nth-child(4) > div > img {
        width: 100%;
    }
    
    .two_img_custom > div {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .formula_custom img {
        width: 95%;
    }
}

